* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.img-container {
  max-width: 40rem;
}
.img-responsive {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3rem;
}
.title {
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.description {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
.card {
  background-color: #f3f3f3;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
